body {
    background-image: url(../image/45degreee_fabric.png);
}

header{
    font-family: Dongle, serif;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.btnCont{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    gap: 30px
}


.grid{
    background-color: white;
}



#gridCont {
    display: grid;

    height: 600px;
    width: 600px;

}

#colorPicker{
    padding: 0px;
    border-radius: 0px;

}

.btnCont button{
    font-family: Dongle, serif;
    display: flex;
    background-color: #e6b0ac;
    padding: 5px 10px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    transition: all 0.1s ease-in-out;
}


.btnCont button:hover{
    color: rgb(255, 255, 255, 1);
    box-shadow: 0 5px 15px #d85f60;

}
